/**, *::before, *::after {
    box-sizing: border-box;
}*/

:root {
  --clr-primary: #324ca8;
  --clr-body: #e1e4f0;
  --clr-bg: #ddd;
  --search-size: 60px;
}

.content {
  font-family: basic-sans, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  width: 70vw;
  max-width: 550px;
  padding: 0.5em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  position: relative;
}

.search {
  --size: 60px;
  border: 2px solid var(--clr-primary);
  display: flex;
  justify-content: flex-end;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1em;
  position: relative;
  width: var(--size);
  height: var(--size);
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 3px;
}

.search:focus-within {
  width: 100%;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search__filter_button {
  display: flex;
}

.search__input_container {
  flex-grow: 1;
}
