#event-short-description,
#event-participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border: 1px solid #8c8c8c;
  border-radius: 15px;
  background-color: rgba(42, 71, 94, 0.3);
  height: 14vh;
}

#event-participants-list-container {
  overflow-y: scroll;
}

#event-participants-list-container::-webkit-scrollbar {
  width: 8.5px;
}

#event-participants-list-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

#event-participants-list-container::-webkit-scrollbar-thumb {
  background-color: #4b4842;
  border-radius: 100px;
}

#event-short-description p {
  text-align: center;
  overflow-y: auto;
}

.event-edit,
.event-delete,
.event-apply {
  padding: 1em;
  border: 1px solid #8c8c8c;
  border-radius: 15px;
  background-color: rgba(42, 71, 94, 0.3);
  height: 150px;
  width: 150px;
  flex-basis: 1;
  cursor: pointer;
}

.event-apply:hover h5 {
  color: green;
}

.event-edit:hover h5 {
  color: yellow;
}

.event-delete:hover h5 {
  color: red;
}

#event-participants-list {
  list-style: none;
}

.event-no-participants-text {
  font-size: 20px;
}
