#game-short-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: rgba(42, 71, 94, 0.3);
    height: 14vh;
}

    #game-short-description p {
        overflow-y: auto;
    }


.metacritic-reviews {
    margin-top: 2vh;
    padding: 1em;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: rgba(42, 71, 94, 0.3);
    height: 14vh;
}

.metascore:hover,
.metascore:visited,
.metascore:link,
.metascore:active {
    text-decoration: none;
}

.metascore div {
    font-size: 2em;
    height: 2em;
    width: 2em;
    color: white;
}

.metacritic-green {
    border: 1px solid #07da74;
    border-radius: 3px;
    background-color: #07da74;
}

.metacritic-yellow {
    border: 1px solid #fc3;
    border-radius: 3px;
    background-color: #fc3;
}

.metacritic-red {
    border: 1px solid #f00;
    border-radius: 3px;
    background-color: #f00;
}

.metacritic-unknown {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: gray;
}

.purchase-on-steam,
.track-game {
    cursor: pointer;
    margin-top: 2vh;
    padding: 1em;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: rgba(42, 71, 94, 0.3);
    height: 14vh;
}

#steam-purchase-link:link,
#steam-purchase-link:hover,
#steam-purchase-link:visited,
#steam-purchase-link:active {
    text-decoration: none;
}
