.notify-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dbdaff;
}

.notify-item:last-child {
  border-bottom: 0px;
}

.notify-img {
  margin-right: 15px;
}

.notify-img-inner {
  max-width: 80px;
}

.notify-info {
  width: 250px;
}

.notify-game-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #605dff;
}

.notify-price-threshold,
.notify-fulfill-date {
  font-size: 0.82em;
}

.notify-price {
  width: 90px;
  margin-left: 5px;
}

.current-price-header {
  font-size: 90%;
}

.current-price {
  font-size: 101%;
}

.notify-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
  width: 65%;
  cursor: pointer;
  font-size: 1.5em;
}

.notify-action {
  padding: 6px;
  color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #2a475e;
  border: 1px #2a475e solid;
  border-radius: 50%;
  font-size: 1.5em;
}

.notify-edit:hover {
  color: yellow;
}

.notify-delete:hover {
  color: red;
}

.notify-read:hover {
  color: green;
}

.discounted-price {
  color: green;
  text-decoration: line-through;
}

.notify-read-status {
  font-size: 3em;
}

.notify-unread {
  font-weight: bold;
}

.notify-item-link {
  text-decoration: none;
  display: flex;
}
